.floating-button-container {
	position: fixed;
	bottom: calc(1rem + 58px);
	left: calc(100% - 56px - 1rem);
}

.floating-button {
	background-color: var(--color-blue);
	border: none;
	border-radius: 50%;
	width: 56px;
	height: 56px;
	box-shadow: 0px 4px 4px rgba(255, 152, 56, 0.06);

}

.vertical {
	width: 2px;
	height: 16px;
	background-color: var(--color-white);
	border-radius: 8px;
	position: relative;
	left: calc(50% - 2px);
}

.horizontal {
	width: 16px;
	height: 2px;
	background-color: var(--color-white);
	border-radius: 8px;
	position: relative;
	bottom: 8px;
	left: 28.6%;
}

@media screen and (min-width: 1024px) {
	.floating-button-container {
		display: none;
	}
}