.queries-container {
	margin-top: 1.5rem;
}

.queries-container::after {
	content: "";
	display: block;
	height: 58px;
}

.date {
	margin: 0 1rem;
	font-weight: 700;
	font-size: var(--font-lg);
	line-height: 1.625rem;
}

/* Tablets */
@media screen and (min-width: 768px) {
	.queries-container > div {
		padding: 0 1rem;
		margin: 0 auto;
	}

	.queries-container > div > div {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}

/* Desktops */
@media screen and (min-width: 1024px) {
	.queries-container > div > div {
		grid-template-columns: repeat(3, 274px);
	}

	.card:nth-child(3n) {
		margin-right: 0;
	}

	.card:nth-child(3n - 1) {
		margin-right: 0;
		margin-left: 0;
	}

	.card:nth-child(3n - 2) {
		margin-left: 0;
	}
}

@media screen and (min-width: 1345px) {
	.queries-container {
		display: flex;
		flex-direction: column;
	}

	.queries-container > div > div {
		grid-template-columns: repeat(3, calc(1309px/3));
	}
}