.queries-container {
	margin-top: 1.5rem;
}

.queries-container::after {
	content: "";
	display: block;
	height: 58px;
}

.date {
	margin: 0 1rem;
	font-weight: 700;
	font-size: var(--font-lg);
	line-height: 1.625rem;
}

/* Tablets */
@media screen and (min-width: 768px) {
	.queries-container > div {
		padding: 0 1rem;
		margin: 0 auto;
	}

	.queries-container > div > div {
		display: grid;
		grid-template-columns: repeat(2, 50%);
	}
}