.queries-container {
	margin-top: 1.5rem;
}

.queries-container::after {
	content: "";
	display: block;
	height: 58px;
}

.date {
	margin: 0 1rem;
	font-weight: 700;
	font-size: var(--font-lg);
	line-height: 1.625rem;
}