:root {
	--color-black: #464646;
	--color-gray: #A3A3A3;
	--color-gray-2: #ECECEC;
	--color-gray-3: #F6F6F6;
	--color-white: #FFFFFF;
	--color-orange: #FFB050;
	--color-blue: #4894FF;
}

#container {
	background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
	font-family: "Montserrat", sans-serif;
}